{% extends "base.html" %}
{% block title %}Input your data{% endblock %}
{% block content %}
<form action="/" method="post">
  <div class="form-group row">
    <label for="hit">Hit</label>
    <input type="number" class="form-control" id="hit" name="hit">
  </div>lass="form-group row">
    <label for="crit">Crit rate</label>
    <input type="number" class="form-control" id="crit" name="crit">
  </div>lass="form-group row">
    <label for="spd">Spell damage</label>
    <input type="number" class="form-control" id="spd" name="spd">
  </div>lass="form-group row">
    <label for="min">Minimal spell damage</label>
    <input type="number" class="form-control" id="min" name="min">
  </div>lass="form-group row">
    <label for="max">Maximum spell damage</label>
    <input type="number" class="form-control" id="max" name="max">
  </div>
  <button type="submit" class="btn btn-primary">Roll!1111</button>
</form>
{% endblock %}